body{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo{
    display: flex;
    justify-content: center;
}
.ftitulo{
    font-family: 'Coming Soon', cursive;
    font-size: 6vh;
}
.tganador{
    text-align: center;
}
.juego{
    justify-content: center;
    background-image: url("./tictactoe.png");
    background-repeat: no-repeat;
    background-position-x: center;
}
.tablero{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.boton1{
    border-bottom: solid black;
    border-right: solid black;
    border-width: 0.5vw;
}
.uno{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton2{
    border-bottom: solid black;
    border-right: solid black;
    border-width: 0.5vw;
}
.dos{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton3{
    border-bottom: solid black;
    border-width: 0.5vw;
}
.tres{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton4{
    border-bottom: solid black;
    border-right: solid black;
    border-width: 0.5vw;
}
.cuatro{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton5{
    border-bottom: solid black;
    border-right: solid black;
    border-width: 0.5vw;
}
.cinco{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton6{
    border-bottom: solid black;
    border-width: 0.5vw;
}
.seis{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton7{
    border-right: solid black;
    border-width: 0.5vw;
}
.siete{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton8{
    border-right: solid black;
    border-width: 0.5vw;
}
.ocho{
    height: 10vh;
    width: 10vw;
    background: none;
}
.boton9{
    border-width: 0.5vw;
}
.nueve{
    height: 10vh;
    width: 10vw;
    background: none;
}
.fcreditos{
    font-family: 'Coming Soon', cursive;
    font-size: 3vh;
}