body{
    background-color: rgb(10, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo{
    display: flex;
    justify-content: center;
}
.ftitulo{
    font-family: 'Coming Soon', cursive;
    font-size: 8vh;
}
.fcreditos{
    font-family: 'Coming Soon', cursive;
    font-size: 3vh;
}